.cart {
    margin-top: 100px;
    text-align: center;
}

.cart_empty {
    height: 80vh;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart_title {
    margin: 30px;
}

.button_cart {
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    padding: 8px 38px;
    margin: 25px;
    border-radius: 10px;
    border: none;
    transition: all 1s ease-in-out;
}

.button_cart:hover {
    transform: scale(1.2);
}

.buy {
    background-color: green;
}

.clear {
    background-color: red;
}

.continue {
    background-color: var(--sombra-card-hover);
}

.continue:hover {
    background-color: greenyellow;
}
