.detail {
    width: 60vw;
    margin: auto;
}

.list_product_detail_container {
    margin-top: 150px;
}

.card_button_cant {
    background-color: var(--sombra-card);
    padding: 8px 18px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    transition: all 1s ease-in-out;
}

.card_button_cant:hover {
    background-color: var(--button-hover);
    color: white;
    font-size: 1.2rem;
    transform: scale(1.05);
    cursor: pointer;
}
